@use 'partials/vars';
@use 'partials/header';
@use 'partials/mixins';
@use 'partials/lasse';
@use 'partials/animate';
@use 'partials/peter';
@use 'partials/peterlightbulpswing';
@use 'partials/citybuildingitself';
@use 'partials/screenTwo';
@use 'partials/icon_animation_lisa';

@font-face {
  font-family: "Open Sans";
  src: url("/static/fonts/opensans-regular-webfont.woff2") format("woff2"), url("/static/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("/static/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.img {
  @include mixins.defaultBorder(5px);
}
