@use 'partials/vars';
@use 'partials/header';
@use 'partials/mixins';
@use 'partials/lasse';
@use 'partials/animate';
@use 'partials/peter';
@use 'partials/peterlightbulpswing';
@use 'partials/citybuildingitself';

/* body {
  background: vars.$bg-color;

  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  h1 {
    @include mixins.flexible();
    &:hover {
      color: blue;
    }
  }
} */

.img {
  @include mixins.defaultBorder(5px);
}
