#PetersHuse svg {
  grid-column: 1 /5;
  grid-row: 1 / 7;
}

/*** city svg ***/

#PetersHuse #outlines {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 100px;

  stroke-dashoffset: 100px;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
}
