.flipInXL {
  animation: flipInXL 1s 1 forwards;
}

@keyframes flipInXL {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipOutXL {
  animation: flipOutXL 0.5s 1 forwards;
  backface-visibility: visible !important;
}

@keyframes flipOutXL {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.bounceInL {
  animation: bounceInL 1s 1 forwards;
}

@keyframes bounceInL {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceOutL {
  animation: bounceOutL 0.4s 1 forwards;
}

@keyframes bounceOutL {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.pulseL {
  animation: pulseL 1s 1 forwards;
}

@keyframes pulseL {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.fadeInL {
  animation: fadeInL 2s 1 forwards;
}
@keyframes fadeInL {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeOutL {
  animation: fadeOutL 0.5s 1 forwards;
}

@keyframes fadeOutL {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
