body {
  margin: 0;
  padding: 0;
}

#peter .introScreen {
  background-color: black;
  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
  width: 100vw;
  height: 100%;
  z-index: 8000;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#peter .logo {
  height: 300px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 3;
}
.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 2s;
}
#peter {
  font-family: "Montserrat", sans-serif;
}

#peter .textbox {
  font-family: "Open Sans", sans-serif;
}

#peter .introScreenText {
  color: white;
  grid-column: 1 / span 4;
  grid-row: 5;
}
#peter .introScreenText2 {
  cursor: pointer;
  color: white;
  grid-column: 1 / span 4;
  grid-row: 6 / span 2;
}
.infinite {
  animation-duration: infinite;
}
#peter {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, mintcream 0%, #fff8f8 96%, #eeeeee 100%);
  overflow: hidden;
}
#citybuildingitself {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #011650;
  overflow: hidden;
}

#PetersHuse {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 8;
  grid-row: 1 / span 12;
}

#citybuildingitself .back {
  grid-row: 15;
  grid-column: 4;
  filter: brightness(19.5);
}

#citybuildingitself .home {
  grid-row: 15;
  grid-column: 4 / span 2;
  filter: brightness(19.5);
}
#citybuildingitself .next {
  grid-column: 5;

  grid-row: 14 / span 2;
}

#peter .container {
  width: 100%;
  height: 100vh;
}

#peter .wrapper {
  grid-column: 2 / span 2;
  grid-row: 4 / span 2;
  z-index: 9000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/** intro black screens **/

#peter .left {
  background-color: black;
  grid-column: 1 / span 2;
  grid-row: 1 / span 8;
  width: 100%;
  height: 100%;
}

#peter .right {
  background-color: black;
  grid-column: 3 / span 2;
  grid-row: 1 / span 8;
  width: 100%;
  height: 100%;
}

/* Button explore*/
#peter .introtxt {
  color: navajowhite;
  z-index: 9999;
  grid-column: 1 / span 4;
  font-weight: 200;
  grid-row: 1;
  pointer-events: none;
}

#peter .explore {
  margin: 0 auto;

  letter-spacing: 10px;
  float: center;

  color: navajowhite;
  z-index: 9000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;

  transition: 2s ease-in;
}
.wrapper a {
  text-decoration: none;
  grid-column: 2 / span 2;
  grid-row: 2;
}

#peter .underline {
  height: 2px;
  width: 100px;
  margin: 0 auto;
  background-color: navajowhite;
  grid-column: 2 / span 2;
  grid-row: 3;

  z-index: 9000;
}

#peter .drawBorder {
  animation: drawBorder 2s ease forwards;
}

@keyframes drawBorder {
  from {
    width: 0px;
  }
  to {
    width: 100px;
  }
}

#peter .undrawBorder {
  animation: undrawBorder 2s ease forwards;
}

@keyframes undrawBorder {
  from {
    width: 100px;
  }
  to {
    width: 0px;
  }
}

/* ANIMATIONS */
/*** button fade in ****/

.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*** flip out X ***/
/** animate.css **/
/* link in html **/

/** globe svg animation */
/* 
svg {
  transform: scale(0.2);
  margin: 0 auto;
  display: flex;
  margin-top: -80px;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
} */

/** text writing it self **/
/*** animation ***/

#peter .textbox {
  grid-column: 1 / span 4;
  grid-row: 4 / span 4;
}

#peter p {
  white-space: nowrap;
  overflow: hidden;
  /* font-family: "Source Code Pro", monospace; */
  font-size: 22px;
  color: black;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

#peter .paragraph1,
#peter .paragraph2,
#peter .paragraph3,
#peter .paragraph4 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Animation */
#peter .paragraph1 {
  animation: animated-text1 2s steps(30, end) 1s 1 normal both;
}

#peter .paragraph2 {
  animation: animated-text2 3s steps(30, end) 4s 1 normal both;
}

#peter .paragraph3 {
  animation: animated-text3 3s steps(30, end) 9s 1 normal both;
}

#peter .paragraph4 {
  animation: animated-text4 3s steps(30, end) 13s 1 normal both;
}

/* text animation */

@keyframes animated-text1 {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

@keyframes animated-text2 {
  from {
    width: 0;
  }
  to {
    width: 421px;
  }
}

@keyframes animated-text3 {
  from {
    width: 0;
  }
  to {
    width: 345px;
  }
}

@keyframes animated-text4 {
  from {
    width: 0;
  }
  to {
    width: 453px;
  }
}

/*** GLOBE ROTATE ANIMATION ***/
/** and general styling **/

/* Rotate Sphere animation */
@-webkit-keyframes animateSphere {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(360deg) rotateX(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(720deg) rotateX(720deg) rotateZ(360deg);
  }
}

#peter .scene {
  perspective: 1400px;
  grid-column: 2 / span 2;
  grid-row: 2;
}
#peter .container {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation-name: animateSphere;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#peter .border {
  border: 1px solid black;
}
#peter .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(lightblue, transparent);
}
/* X Axis */
#peter .circle:nth-child(1) {
  transform: rotate3d(1, 0, 0, 0deg);
}
#peter .circle:nth-child(2) {
  transform: rotate3d(1, 0, 0, 36deg);
}
#peter .circle:nth-child(3) {
  transform: rotate3d(1, 0, 0, 72deg);
}
#peter .circle:nth-child(4) {
  transform: rotate3d(1, 0, 0, 108deg);
}
#peter .circle:nth-child(5) {
  transform: rotate3d(1, 0, 0, 144deg);
}
/* Y Axis */
#peter .circle:nth-child(6) {
  transform: rotate3d(0, 1, 0, 0deg);
}
#peter .circle:nth-child(7) {
  transform: rotate3d(0, 1, 0, 36deg);
}
#peter .circle:nth-child(8) {
  transform: rotate3d(0, 1, 0, 72deg);
}
#peter .circle:nth-child(9) {
  transform: rotate3d(0, 1, 0, 108deg);
}
#peter .circle:nth-child(10) {
  transform: rotate3d(0, 1, 0, 144deg);
}
/* Z Axis */
#peter .circle:nth-child(11) {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 0deg);
}
#peter .circle:nth-child(12) {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 36deg);
}
#peter .circle:nth-child(13) {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 72deg);
}
#peter .circle:nth-child(14) {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 108deg);
}
#peter .circle:nth-child(15) {
  transform: rotate3d(0, 1, 0, 90deg) rotate3d(1, 0, 0, 144deg);
}

/* Light effect */
.light {
  margin: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 10px 1px 30px black;
  background-color: darkblue;
}
/* Clip the sphere a bit */
.clip {
  clip-path: circle(49%);
}

/** hide **/

.phide {
  display: none;
}

/** arrow button **/

.arrowwrapper {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.item {
  margin: 0 auto;
}

#peter button {
  border: 1px solid transparent;
  background: transparent;
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  color: black;
}

#peter button:focus {
  border-color: transparent !important;
  outline: none;
}

#peter .arrowsvg {
  width: 61px;
  border: none;
  margin-right: 10px;
}

.arrow1 {
  animation: slide1 2s ease-in-out infinite;
  margin-left: 0px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

.grid {
  display: grid;
}
