* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#lisa {
  text-align: center;
}

#lisa p {
  font-family: "Open Sans", sans-serif;
}

#lisa h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
}

#lisa .headerTwo {
  font-size: 3vw;
  margin-bottom: 1vw;
  height: 4vw;
}

#lisa,
#peter {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: rgb(245, 255, 250);
  background: linear-gradient(180deg, rgba(245, 255, 250, 1) 0%, rgba(255, 248, 248, 1) 96%, rgba(238, 238, 238, 1) 100%);
}
#lisa .home,
#lasse .home,
#peter .home,
#lisa .back,
#lasse .back,
#peter .back,
#lisa .next,
#lasse .next,
#peter .next {
  z-index: 20000;
}
#lisa .click_container {
  background-color: rgba(77, 77, 77, 0.745);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
#lisa .item8 {
  z-index: 30;
}

#lisa .click_container img {
  position: absolute;
  width: 22vw;
  bottom: 30vh;
  left: 25vw;
}

#lisa .timelineTwo {
  width: 100%;
  height: 60%;
}

#lisa .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20%20% 10%;
  margin-bottom: 13vh;
}
#lisa .grid-item {
  font-size: 2vw;
  display: flex;
}

#lisa .item1,
#lisa .item2,
#lisa .item3,
#lisa .item4 {
  grid-row-start: 1;
  grid-row-end: 2;
}

#lisa .item5,
#lisa .item7 {
  grid-row-start: 2;
  grid-row-end: 5;
}
#lisa .item5 {
  padding-right: 4vw;
}
#lisa .item7 {
  padding-left: 2vw;
}

#lisa .item8 {
  align-items: flex-end;
  justify-content: flex-end;
}
#lisa .item5,
#lisa .item7 {
  align-items: center;
  justify-content: flex-end;
  margin-top: 2vh;
}

#lisa .item9 {
  align-items: flex-end;
  justify-content: flex-start;
}
#lisa .item7 {
  margin-top: 2vh;
  align-items: center;
  justify-content: flex-start;
}
#lisa .item2 {
  align-items: flex-end;
  justify-content: center;
}
#lisa .item3 {
  align-items: flex-end;
  justify-content: center;
}

#lisa .item6 {
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
}
#lisa .item8,
#lisa .item9 {
  grid-row-start: 5;
  grid-row-end: 7;
}
#lisa .item11 {
  grid-column-start: 2;
  grid-column-end: 4;
}

#lisa .descriptionTwo {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 26vh 33vw;
  font-size: 1.2vw;
  pointer-events: none;
}

#lisa .textTwo {
  line-height: 1.8vw;
  max-height: 38vh;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  z-index: -1;
}

#lisaSvg {
  width: 100%;
  max-height: 60vh;
  color: #fffcb3;
}

#lisa .ikon {
  max-width: 5vw;
  max-height: 5vw;
  filter: grayscale(100%);
  margin-bottom: 0.5vh;
}
.home,
.back,
.next {
  width: 2.3vw;
  height: 2.5vw;
}
#lisa .home {
  margin: 0 4vw;
}
.noclick {
  pointer-events: none;
}

.hide {
  display: none;
}

.invisible {
  visibility: hidden;
}

.greyed_out {
  filter: invert(1);
}

.grid {
  display: grid;
}

.button_pulse {
  animation: button_pulse 1.5s ease-in-out infinite forwards;
}

@keyframes button_pulse {
  0% {
    filter: drop-shadow(0 0 3px rgb(69, 69, 69));
    transform: scale(1);
  }

  50% {
    filter: drop-shadow(5px 5px 10px rgb(99, 99, 99));
    transform: scale(1.1);
  }

  100% {
    filter: drop-shadow(0 0 3px rgb(62, 62, 62));
    transform: scale(1);
  }
}

@media (min-width: 1000px) {
  .descriptionTwo {
    font-size: 1.3vw;
  }
}

@media (min-width: 1300px) {
  .item5 {
    padding-right: 2vw;
  }
  .item7 {
    padding-left: 0vw;
  }
  #lisa h1 {
    font-size: 1.2vw;
  }
}

@media (min-width: 1600px) {
  .descriptionTwo {
    font-size: 0.9vw;
  }

  .textTwo {
    line-height: 1.4vw;
  }
}

///////////ANIMATION AF TIMELINE////////////

/***************************************************
 * Generated by SVG Artista on 3/20/2020, 12:10:09 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
  stroke-dashoffset: 313.5399475097656px;
  stroke-dasharray: 313.5399475097656px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 303.024658203125px;
  stroke-dasharray: 303.024658203125px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 310.44805908203125px;
  stroke-dasharray: 310.44805908203125px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 299.7820129394531px;
  stroke-dasharray: 299.7820129394531px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 314.874267578125px;
  stroke-dasharray: 314.874267578125px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

svg .svg-elem-6 {
  stroke-dashoffset: 313.5399475097656px;
  stroke-dasharray: 313.5399475097656px;
  transition: stroke-dashoffset cubic-bezier(0.27, 0.77, 0.71, 0.42) 0.75s;
}

svg.red .svg-elem-6 {
  stroke-dashoffset: 0;
}

svg .svg-elem-7 {
  stroke-dashoffset: 303.024658203125px;
  stroke-dasharray: 303.024658203125px;
  transition: stroke-dashoffset cubic-bezier(0.27, 0.77, 0.71, 0.42) 0.75s;
}

svg.orange .svg-elem-7 {
  stroke-dashoffset: 0;
}

svg .svg-elem-8 {
  stroke-dashoffset: 310.44805908203125px;
  stroke-dasharray: 310.44805908203125px;
  transition: stroke-dashoffset cubic-bezier(0.05, 0.78, 1, 0.34) 0.75s;
}

svg.green .svg-elem-8 {
  stroke-dashoffset: 0;
}

svg .svg-elem-9 {
  stroke-dashoffset: 299.7820129394531px;
  stroke-dasharray: 299.7820129394531px;
  transition: stroke-dashoffset cubic-bezier(0.05, 0.78, 1, 0.34) 0.75s;
}

svg.turkoise .svg-elem-9 {
  stroke-dashoffset: 0;
}

svg .svg-elem-10 {
  stroke-dashoffset: 314.874267578125px;
  stroke-dasharray: 314.874267578125px;
  transition: stroke-dashoffset cubic-bezier(0.05, 0.78, 1, 0.34) 0.75s;
}

svg.blue .svg-elem-10 {
  stroke-dashoffset: 0;
}

svg .svg-elem-11 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.75s;
}

svg.purple .svg-elem-11 {
  stroke-dashoffset: 0;
}

svg .svg-elem-12 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1199999999999998s;
}

svg.active .svg-elem-12 {
  stroke-dashoffset: 0;
}

svg .svg-elem-13 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.24s;
}

svg.active .svg-elem-13 {
  stroke-dashoffset: 0;
}

svg .svg-elem-14 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.36s;
}

svg.active .svg-elem-14 {
  stroke-dashoffset: 0;
}

svg .svg-elem-15 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.48s;
}

svg.active .svg-elem-15 {
  stroke-dashoffset: 0;
}

svg .svg-elem-16 {
  stroke-dashoffset: 137.0884841043611px;
  stroke-dasharray: 137.0884841043611px;
  transition: stroke-dashoffset 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5999999999999998s;
}

svg.active .svg-elem-16 {
  stroke-dashoffset: 0;
}
